{% extends "doctor/base.html" %}

{% block title %}Доктор Дилобар Хабибуллаевнадан Marafonlar{% endblock %}


{% block content %}
<div class="col-sm">
{% for marathon in marathons %}
  <h2  class="text-center">{{marathon.title}}</h2>
  {% if marathon.until_start > 1 %}
  <button type="button" class="btn btn-success btn-sm btn-block">Boshlanishiga {{ marathon.until_start }} kun qoldi.</button>
  {% elif marathon.until_end > 1 %}
  <button type="button" class="btn btn-info btn-sm btn-block">Marafon davom etmoqda</button>
  {% else %}
  <button type="button" class="btn btn-danger btn-sm btn-block">Marafon yakunlangan.</button>
  {% endif %}
  {% load static %}
  <div class="my_photo text-center"><img src="{% static marathon.image %}" class="img-fluid" alt="my photo"></div>
  {% if marathon.until_start > 1 %}
  <button type="button" class="btn btn-success btn-lg btn-block">Marafonda qatnashish</button>
  {% elif marathon.until_end > 1 %}
  <!--      <button type="button" class="btn btn-info btn-sm btn-block">Marafon davom etmoqda</button>-->
  {% else %}
  <button type="button" onclick="location.href='{% url 'marathonresults' marathon.pk %}';" class="btn btn-secondary btn-sm btn-block">Marafon natijalari</button>
  {% endif %}
  <p>{{marathon.information}}</p>
  <!--        <p>{{marathon.delta}}</p>-->
  <p>{{article.created_at}}</p>
  <hr>
  <br>
{% endfor %}
</div>
{% endblock %}




<!--<div class="container" style="margin-top:30px">-->
<!--  <div class="row">-->
<!--    <div class="col-sm">-->
<!--      <h2  class="text-center">{{article.title}}</h2>-->
<!--        {% load static %}-->
<!--      <div class="my_photo text-center"><img src="{% static article.image %}" class="img-fluid" alt="my photo"></div>-->
<!--      <p>{{article.content}}</p>-->
<!--      <h5>{{article.author}}</h5>-->
<!--      <p>{{article.created_at}}</p>-->
<!--      <br>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
